{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        {% for pitch in pitches %}
<div class="card">
    <div class="card-header">
{{pitch.title}}
    </div>
    <div class="card-body">
        
        {{pitch.pitch}} <br>
      
    </div>
    <div class="card-footer">
        {% if current_user.is_authenticated %}
        {{wtf.quick_form(CommentForm)}}
        {% endif %}
    </div>
</div>
{% endfor %}
    </div>
    <div class="col">

    </div>
</div>
<style>
    .card{
        margin-bottom: 2%;
        background-color: grey;
        color: rgb(248, 242, 242);
        margin-left: 50px;
        font-size: 29px;

    }
</style>

{% endblock %}